/*TODO make CSS to make ratings look like stars*/
/*Don't judge me please im bad at css*/
body {
    background-color: #ffffff;
    
}

h3 {
    color: #0067c6;
    font-family: "League Spartan", sans-serif;
}

h2{
    color:#0067c6;
    font-family: "League Spartan", sans-serif;
}

h1{
    color: #0067c6;
    font-family:"League Spartan", sans-serif;
}

.question {
    color: #222222;
    font-weight: bold;
    font-family: "Source Sans 3", sans-serif;

}
p{
    font-family: "Source Sans 3", sans-serif;

}

label{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    color: #9aa5ae;
}