table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-weight:150;
  font-size: smaller;
  width: 100%;
}

td, th {
  border: 1px solid #acacac;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}